/* header content styals */
header{
    background-image: url(../images/banner/banner2.png);
    width: 1500px;
    height: 809px;
    font-family: "Work Sans", sans-serif;
    /* font-optical-sizing: auto; */
    width: 100%;
    background-repeat: no-repeat;
    justify-content: end;
    display: flex;
    background-size: cover;

}
/* nav reladad styles */
.nav-content{
    text-align: right;
    padding: 100px 200px 200px 600px;
}
.nav-title{
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;

}
.nav-para{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 190px;
}
.nav-button{
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    border: 0px solid;
    color: aliceblue;
    padding: 20px 25px;
    font-size: 20px;
}
/* main  */
/* section reiatad styles */
section{
}
.failures-img{
    height: 898px;
}
.failures-conten{
    display: flex;
    align-items: center;
    gap:100px ;
    margin: 130px 200px;
}
.failures-item{
    margin-bottom: 0px;
}
.failures-title{
    font-size: 40px;
    font-weight: 700;
    
}
.failures-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style: none;
}
.plan{
    text-align: center;
    font-size: 40px;
    font-weight: 700
}
.skill{
    display: flex;
    align-items: center;
    margin: 90px 230px ;
}
.skill-colamn{
    padding: 0px 75px;
}
.skill-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}
.skill-para{
    font-weight: 500;
    margin-top: 5px;
}

/* positive: relative; */
.positive{
    position: relative;
    align-items: center;
}
.pic{
    width: 970px;
    height: 300px;
}
.bg-gdt{
    position: absolute;
    height: 300px;
    width: 970px;
    top: 0%;
    left: 0%;
}
.text{
    z-index: 999999;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #FFF;
}
.block{
    display: block;
}
.text h2{
    margin: 0px;
    font-size: 30px;
    font-weight:700;

}
.button{
    width: 120px;
    height: 44px;
    color: #F15B22;
    background-color: #FFF;;
    border: 0px solid;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius:4px ;
    margin-top: 20px;
}   
/* fotter styles */
.futur{
    margin-top: 100px;
    width: 1050px; 
    height: 377px;
    flex-shrink: 0;
    background: var(--Dark-01, #151414);
    display: flex;
    justify-content: space-between;
    padding: 100px 230px;
    /* align-items: center; */

}
.colamn{
    color: #FFF;
    align-items: center;
    margin-right: 120px;
}
.colamn-title{
    font-size: 45px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}
.colamn-para{
    font-size: 16px;
    font-weight: 400;
    padding-right: 250px;
    
}
.form a{
}
.form input{
    padding: 10px 50px 10px 20px;
    margin-bottom: 16px;
    border: 1px solid;
    background-color: #151414;
    color: #FFF;
    border-radius: 4px;
}
.but{
    color: #F15B22;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 4px;
}
.img ,a {
    display:flex;
    gap: 15px;
}